<%= form_for(song) do |f| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :artist %>
    <%= f.text_field :artist %>
  </div>

  <div class="field">
    <%= f.label :imageUrl %>
    <%= f.text_field :imageUrl %>
  </div>

  <div class="field">
    <%= f.label :mp3hash %>
    <%= f.text_field :mp3hash %>
  </div>

  <div class="field">
    <%= f.label :artistTitleHash %>
    <%= f.text_field :artistTitleHash %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
