<p id="notice"><%= notice %></p>

<h1>Songs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Imageurl</th>
      <th>Mp3hash</th>
      <th>Artisttitlehash</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.artist %></td>
        <td><%= song.imageUrl %></td>
        <td><%= song.mp3hash %></td>
        <td><%= song.artistTitleHash %></td>
        <td><%= link_to 'Show', song %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path %>
